*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.3)),url(images/laptop.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.row h1{
	color: white;
	font-size: 50px;
	margin-top: 20vh;
	margin-left: 7vw;
}
.row p{
	color:white;
	font-size: 25px;
	margin-left: 7vw;
	margin-top: 3vh;
}

.row1 button{
	height: 5vh;
	width: 15vw;
	margin-left: 7vw;
	background-color:#b93232;
	color: yellow;
}

.row1 button:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition:1s;

}
.row1 p{
	margin-top: 1vh;
	margin-right: 5vw;
	color: white;
	float: right;
}
/*-----header-------*/
.center{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.3)),url(images/gray2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.row2 p{
	color: orange;
	margin-left: 42vw;
	padding-top: 5vh;
	font-weight: bold;
}
.row3 h3{
	color: white;
	margin-top: 10vh;
	margin-left: 9vw;
	font-size: 40px;
}
.row4 p{
	color:#fff;
	margin-top: 3vh;
	margin-left: 9vw;
	font-size: 20px;
}
.row5 img{
	margin: 1px;
	margin-top: 10vh;
	margin-left: 6.5vw;
	width: 24vw;
	height: 40vh;
}
/*-----center-------*/
.row6 button{
	width: 15vw;
	height: 6vh;
	margin-left: 42vw;
	margin-top: 5vh;
	background-color: black;
	color: white;
	border-radius: 5px;
}
.row6 button:hover{
	background-color:orange;
	transition: 1s
}
.row6 h4{
	margin-top: 10vh;
	margin-left: 34vw;
	font-size: 35px;
}
.row8 p{
	margin-left: 13vw;
	margin-top: 5vh;
	font-size: 18px;
}
/*-----center1-------*/
.row9{
	margin-top: 10vh;
	display: flex;
}
.column{
	height: 50vh;
	width: 20vw;
	margin-left: 7vw;
	border: 1px solid #b9b0b0;
	border-left: none;
	border-top: none;
	border-bottom: none;
}
.column img{
	margin-left: 4vw;
	margin-top: 1.5vh;
}
.column h5{
	margin-top: 1vh;
	margin-left: 4vw;
	font-size: 20px;
}
.column p{
	margin-left: 4vw;
	margin-top: 2vh;
}
.column a{
	margin-left: 4vw;
	color: orange;
}
.column1{
	height: 50vh;
	width: 20vw;
	margin-left: 2vw;
	border: 1px solid #b9b0b0;	
	border-left: none;
	border-top: none;
	border-bottom: none;
}
.column1 img{
	margin-left: 4vw;
	margin-top: 1.5vh;
}
.column1 h6{
	margin-top: 1vh;
	margin-left: 4vw;
	font-size: 20px;
}
.column1 p{
	margin-left: 4vw;
	margin-top: 2vh;
}
.column1 a{
	margin-left: 4vw;
	color: orange;
}

.column2{
	height: 50vh;
	width: 20vw;
	margin-left: 2vw;
	border: 1px solid #b9b0b0;
	border-left: none;
	border-top: none;
	border-bottom: none;	
}
.column2 img{
	margin-left: 4vw;
	margin-top: 1.5vh;
}
.column2 h6{
	margin-top: 1vh;
	margin-left: 4vw;
	font-size: 20px;
}
.column2 p{
	margin-left: 4vw;
	margin-top: 2vh;
}
.column2 a{
	margin-left: 4vw;
	color: orange;
}

.column3{
	height: 50vh;
	width: 20vw;
	margin-left: 2vw;
	border: 1px solid #b9b0b0;
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left: none;	
}
.column3 img{
	margin-left: 4vw;
	margin-top: 1.5vh;
}
.column3 h6{
	margin-top: 1vh;
	margin-left: 3vw;
	font-size: 20px;
}
.column3 p{
	margin-left: 3vw;
	margin-top: 2vh;
}
.column3 a{
	margin-left: 3vw;
	color: orange;
}
.row10 button{
	width:13vw;
	height: 4vw;
	margin-left: 43vw;
	margin-top: 10vh;
	border-radius: 5px;
}
.row10 button:hover{
	background-color: orange;
	transition: 1s;
}
.row11{
	margin-top: 10vh;
	margin-left: 5vw;
	width: 90vw;
	height: 50vh;
	display: flex;
}
.column4{
	width: 45vw;
	height: 60vh;
	background-color: #090979;

}
.row11 p.wn{
	color: orange;
	margin-top: 8vh;
	margin-left: 5vw;

}
.row11 h6{
	margin-left: 5vw;
	font-size: 30px;
	color: white;
}
.row11 p.o{
	margin-top: 1vh;
	margin-left: 5vw;
	color: #fff;
}
.row11 a{
	color: orange;
	margin-left: 5vw;
}
.column5{
	width: 45vw;
	height: 60vh;
}
.column5 img{
	width: 45vw;
	height: 60vh;
}
.row12{
	margin-top: 10vh;
	width: 98vw;
	height:	80vh;
	background:#020220;
}
.row12 h3{
	padding-top:10vh;
	padding-left: 4.5vw;
	color: white;
}
.row12 p.m{
	color: white;
	padding-left: 0.5vw;
}
.row13{
	display: flex;
}
input{
	width: 20vw;
	height: 8vh;
	margin-left: 4vw;
	border-radius: 5px;
}
.row14 input{
	width: 40vw;
}
.row15 button{
	margin-left: 4vw;
	height: 8vh;
	width: 20vw;
	background-color:#f4a805;
}
.row15 button:hover{
	background-color: #ff7d00;
	transition:1s;
}
.row12 p{
	margin-left: 4vw;
	color: white;
}
.row16 h1{
	margin-left: 73vw;
	color: white;
	margin-top: -60vh;
}
.row16 p{
	margin-left: 73vw;
	color: orange;
}
.row16 h2{
	margin-left: 73vw;
	color: white;
}
.row17 h1{
	font-size: 100px;
	text-align: center;
	color: orange;
}
.row18{
	display: flex;
	margin-top: 5vh;
}
.row19 h2{
	margin-left: 3vw;
	font-size: 60px;
}
.row19 p{
	margin-left: 3vw;
}
.row20 h2{
	margin-left: 11vw;
	font-size: 60px;
}

.row20 p{
	margin-left: 11vw;
}
.row21 h2{
	margin-left: 11vw;
	font-size: 60px;
}
.row21 p{
	margin-left: 11vw;
}
.row22 h2{
	margin-left: 5vw;
	font-size: 60px;
}
.row22 p{
	margin-left: 7vw;
}
.new-button button{
	margin-top: 8vh;
	margin-left: 41vw;
	border-radius: 5px;
	background-color: black;
	color: white;
	font-size: 18px;
	width: 15vw;
	height: 10vh;
}
.new-button button:hover{
	color: orange;
	background-color: transparent;
}
.row23{
	margin-left: 2vw;
	display: flex;
}
.col-1{
	border: 1px solid #b9b0b0;
	height: 75vh;
	width: 30vw;
	margin: 2vw;
	margin-left: 0vw;
}
.col-1 img{
	width: 300px;
}
.col-1 ul{
	font-size: 20px;
	margin-left:0vw;
	text-align: center;
}
.col-1 p{
	margin-left: -2vw;
	text-align: center;
}
.col-1 a{
	color: orange;
	margin-left: 7vw;
}
.col-2{
	border: 1px solid #b9b0b0;
	height: 65vh;
	width: 30vw;
	margin: 2vw;
	margin-left:0.5vw;
}
.col-2 img{
	width: 308px;
}
.col-2 ul{
	font-size: 20px;
	margin-left:0vw;
	text-align: center;
}
.col-2 p{
	margin-left: -2vw;
	text-align: center;
}
.col-2 a{
	color: orange;
	margin-left: 7vw;
}
.col-3{
	margin-left: 20vw;
	border: 1px solid #b9b0b0;
	height: 75vh;
	width: 30vw;
	margin: 2vw;
	margin-left: 0vw;
}
.col-3 img{
	width: 309px;
}
.col-3 ul{
	font-size: 20px;
	margin-left:0vw;
	text-align: center;
}
.col-3 p{
	margin-left: 5vw;
}
.col-3 a{
	color: orange;
	margin-left: 7vw;
}